@import './../../Assets/Style/colors';
.heading{
   height:10vh;
   background: #FFFFFF;
   border: 1px solid #707070;
   // position: fixed;
   // width:100%;
   .headding-greetings{
      color:#707070;
      font-size:0.8rem;
   }
   .heading-Name{
      font-size:1rem;
      color:#333333;
      font-weight: 500;
   }


   .searchField{
      height: 30px;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #707070;
      width:35rem;
   }
   .heading-notification{
      padding-left:8rem;
   }
  
   .hi{
      font-weight: 200;
      font-size: 18px;
   }
} 