$primary-color: #3361F8;


$white-color: #ffffff;

$grey-color-1: #707070;
$grey-color-2: #F4F6F5;

$dark-color: #000000;
$dark-color-1:#333333;

$button-font-size: 12px;

$scoreRed: #f44336;
$scoreYellow: #ffeb3b;
$scoreYellow-1: #FFAF25;
$scoreGreen: #058100;
$scoreGreen-1:#14934F;

// main shaddow
$main-shadow: 0px 3px 3px rgba(0, 0, 0, 0.161);
