$primary-color: #3361F8;

$white-color: #ffffff;
$white-color-1: #cecece;
$white-color-2: #f7f9fc;
$white-color-3: #f7f9fc;
$white-color-4: #F0F0F0;
$white-color-5: #eeeeee;
$white-color-6: #eeeeee;

$grey-color-1: #707070;
$grey-color-2: #F4F6F5;

$dark-color: #000000;
$dark-color-1: #212121;
$dark-color-2: #bbb8b8;
$dark-color-3: #767676;
$dark-color-4:#00000029;
$dark-color-5:#767676;
$dark-color-6:#333333;

$button-font-size: 12px;

$scoreRed: #f44336;
$scoreYellow: #ffeb3b;
$scoreYellow-1: #FFAF25;
$scoreGreen: #058100;
$scoreGreen-1:#14934F;

// main shaddow
$main-shadow: 0px 3px 3px rgba(0, 0, 0, 0.161);
