.table--wrapper {
    .cvPDdw {
    padding-bottom: 40px;
    }
}
.actions_container {
    position: relative;

    .actions_container_board {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 80px;
        z-index: 1000;
        visibility: hidden;
    }

    &:hover .actions_container_board {
        visibility: visible;
    }
}