@import "../../Assets/Style/colors";

.search {
    margin: 1.5em 0;
    width: 300px;
    .search_input {
        border: 1.5px solid $grey-color-1;
        background: $grey-color-2;
        padding: 0.5em 1em;
        border-radius: 5px;
        width: 70%;
        height: 35px;
    }

    .search_btn {
        width: 20%;
        height: 35px;
        border: none;
        background-color: $primary-color;
        color: $white-color;
        padding: 0.5rem;
        border-radius: 5px;
        font-size: 0.7rem;
    }
}